*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5rem;
    color: #555;
    background: #edf0f1;
}
.container{
    width:100%;
    float: left;
    padding: 15px;
}

#input-box-header{
    width: 100%;
    height: 80px;
    background: #25b99a;
    position: relative;
    top: 0;
    left: 0;
    z-index: 5;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: 0px 2px 4px rgba(44, 62, 80, .15);
}

.form-group{
    padding: 15px;
}

.form-group input{
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, .2);
    color:#fff;
    font-weight: 400;
    font-size: 15px;
    text-indent: 18px;
    padding: 0 60px 0 0;
    outline: none;
    border-top-right-radius: 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 25px;
    border: 0;
    box-shadow: none;
    float: left;

    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-group input::-webkit-input-placeholder{
    color: rgba(255,255,255, 0.75);
}
.form-group input::-moz-placeholder{
    color: rgba(255,255,255, 0.75);
}
.form-group input:-moz-placeholder{
    color: rgba(255,255,255, 0.75);
}
.form-group input:-ms-placeholder{
    color: rgba(255,255,255, 0.75);
}

.form-group button{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    border: 0;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 2;
    background: #fff;
    box-shadow: none;
    outline: none;
    text-align: center;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-group button i{
    font-size: 16px;
    color:#25b99a;
    text-align: center;
}

.todo{
    width: 100%;
    float: left;
    list-style: none;
    position: relative;
}

.todo li{
    display: block;
    width: 100%;
    min-height: 50px;
    float: left;
    background: #fff;
    box-shadow: 0px 1px 2px rgba(44, 62, 80, .10);
    padding: 14px 100px 14px 14px;
    margin-bottom: 10px;
    position: relative;
}

.todo li:last-of-type{
    margin: 0;
}

.todo li .buttons{
    width: 100px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;

} 
.todo li .buttons button{
    width: 50px;
    height: 50px;
    float: left;
    background: transparent;
    border: none;
    color: #444;
    line-height: 22px;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.todo li .buttons button:last-of-type::before{
    content: '';
    width: 1px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 0;
    background: #edf0f1;
}

.todo#completed li .buttons button.complete{
    color: #07a784;
    border: 0;

    transition: color .2s ease;
}

.todo#completed li .buttons button.complete:hover{
    color: rgba(37, 185, 154, .75);
    border: 0;
}

.todo li .buttons button.remove{
    color: #555;
}
.todo li .buttons button.remove:hover{
    color: rgba(255, 0,0, 0.76);
}

.todo li .buttons button.complete{
    color: #25b99a;
    font-size: 20px;
}
.todo li .buttons button.complete:hover{
    color: #07a784;
}

.todo#completed{
    position: relative;
    padding: 60px 0 0 0;
}
.todo#completed::before{
    content: '';
    width: 150px;
    height: 1px;
    position: absolute;
    background: #d8e5e8;
    top: 30px;
    left: 50%;
    margin:0 0 0 -75px ;
}

.todo#todo:empty::after{
    content: 'You have no task on your list';
    margin-top: 15px;
}

.todo#completed:empty::after{
    content: 'You are yet to complete any task';
}

.todo#todo::after, .todo#completed::after{
    display: block;
    font-size: 14px;
    color: #aaa;
    width: 100%;
    text-align: center;
}